*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
    height: 100%;
    height: auto;
  
}
.section{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#container{
    display: block;
}

h2{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: rgb(137, 94, 42);
    padding-bottom: 20px;
    font-style: italic;
    
}
label{
    font-size: 20px;
    font-weight: 300;
      font-style: italic;
      padding-right: 20px;
}